.header {
  background-color: pink;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.header a {
  float: left;
  color: #f2f2f2;
  font-family: initial;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.header a.active {
  background-color: black;
  color: white;
}

body {
  background-image: url(https://assets3.thrillist.com/v1/image/1737840/size/tmg-article_default_mobile.jpg);
  background-size: 50%;
}

.body {
  border: 4px solid black;
  opacity: 90%;
  background-color: black;
  color: white;
}

